.accesorios .titulo h2{
    font-family: 'Reggae One', cursive;
    background-color: #FAF3F8;
    width: 20%;
    padding-right: 25px;
    border-radius: 5px 0px;
    color:  #F2BBAE;;
    padding-left: 35px;
    text-align: center;
}

.accesorios .row-accesorios img{
    width: 30%;
    height: 45vh;
    margin: 15px;
}