main{
    width: 100%;
    margin-left: 0px;
    height: auto;
}

.accesorios{
    width: 100%;
    height: 175vh;
    display: flex;
    justify-content: center;
}

.row-accesorios{
    height: 180vh;
}

.row-accesorios .descripcion-accesorios{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}
.descripcion-accesorios div{
    height: 56vh;
    width:28%;
    margin-bottom: 20px;
    background-color: #FAF3F8;
    margin: 5px;
    padding-left: 15px;
    justify-content: center;
}

.accesorios .titulo h2{
    font-family: 'Reggae One', cursive;
    background-color: #FAF3F8;
    width: 65%;
    padding-right: 25px;
    border-radius: 5px 0px;
    color:  #F2BBAE;;
    padding-left: 35px;
    text-align: center;
}

.accesorios .row-accesorios img{
    width: 90%;
    height: 40vh;
    margin: 5px;
    align-items: center;
}

.row-accesorios p,h3{
    height: 3vh;
    margin: 4px;
    width: 80%;
    font-size: 1.3rem;
    text-align: center;
    padding-left: 20px;

}

/*Responsive seccion ACCESORIOS*/

@media (max-width:1080px){
    
}

@media (max-width:768px){
    .row-accesorios .descripcion-accesorios{
        padding-left: 0px;
    }

    .accesorios .row-accesorios p{
        font-size: 1.1em;
        font-size: smaller;
    }
}

@media (max-width:480px){
    main{
        height: 290vh;
    }
    
    .accesorios{
        display: block;
    }

    .row-accesorios .descripcion-accesorios{
        margin-top: 45px;
        padding-left: 28px;
    }

    .descripcion-accesorios div{
        width: 40%;
    }
}