/* Inicio Seccion AGENDAS */
main{
    width: 100%;
    margin-left: 0px;
}

.anchetas{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.row-anchetas{
    height: 100vh;
}

.row-anchetas .descripcion{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;

}

.descripcion div{
    height: 40vh;
    width: 30%;
    margin-bottom: 20px;
}
    
.anchetas .titulo h2{
    font-family: 'Reggae One', cursive;
    background-color: #FAF3F8;
    width: 20%;
    padding-right: 25px;
    border-radius: 5px 0px;
    color:  #F2BBAE;;
    padding-left: 35px;
    text-align: center;
}

.anchetas .row-anchetas img{
    width: 80%;
    margin: 10px;
    height: 30vh;
}

.anchetas .row-anchetas p{
    height: 5vh;
    margin: 4px; 
    width: 80%;
    font-size: 1.3rem;
    text-align: center;
  
} 
