@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

main{
    
    width: 100%;
}

.banner{
    width: 100%;
    height: 20vh;
    margin: 5px;
}

.banner .row{
    display: flex;
    width: 100%;
    height: 20vh;
    animation: banner 10s infinite;
    transition: 3s all;  
}

.banner .row .col-100{
    width: 50%;
    height: 20vh;
}

.banner .row .col-100 img{
    width: 100%;
    height: 20vh;
}

@keyframes banner{
    33%{
        margin-left: -10%;
    }

    66%{
        margin-left: -10%;
    }
    99%{
        margin-left: 0%;
    }
}



















/*Responsive Banner de la seccion Inicio*/

@media (max-width:768px){
    .col-30{
        padding-left: 240px;
        margin-left: 100px;
    }
    
}

@media(max-width:480px) {
    .banner{
        height: 35vh;
        /* width: 250%; */
    }

    .banner .row{
        height: 35vh;
        width: 300%;
        animation: banner 30s infinite;
        transition: 2s all; 
        overflow-x: hidden;

    }

    .banner .row .col-100{
        height: 35vh;
        width: 180%;
    }
    .banner .row .col-100 img{
        width: 100%;
        height: 35vh;
        margin: 5px
    }
    @keyframes banner{
        33%{
            margin-left: -210%;
        }
        66%{
            margin-left: -180%;
        }
        99%{
            margin-left: 2%;
        }
    }

    .row-2{
        height: 50vh;

    }

    .col-30{
        padding-top: 190px;
        margin-left: 45px;
    }

}

@media(max-width: 370px){
    .banner{
        height: 30vh;
    }

    .banner .row{
        height: 30vh;
    }
    
    .banner .row .col-100{
        height: 30vh;
    }
}

/* Segundo Banner  */
.row-2{ 
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/1b/87/93/1b879338c295400d4bc1fd012af52a55.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vh;

}

.col-30{
    padding-top: 180px;
    color: black;
    margin-left: 320px;
}

.col-30 h2,p{
    font-family: 'Reggae One', cursive;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    
}

.col-30 button{
    background-color:#edbbf1;
    font-family: 'Reggae One', cursive;
    font-size: 1.2em;
    border-radius: 15px;
    color: black;
    width: 30%;

}

.col-30 button:hover{
    color:#edbbf1;
    background-color:azure;
    cursor: pointer;

}


/* Finaliza Segundo Banner */
@media (max-width:768px){
    .row-2{
        background-size: auto 115%;
    }

    
}