main{
    height: auto;
}


.bloque{
    display: flex;
    margin-top: 170px;
}

.bloque .columna-1 img{
    width: 95%;
}

.bloque div{
    margin: 2px;

}
.bloque .columna-2{
    background-color: #FAF3F8;
}

.columna-2 h2{
    text-align: center;
    font-family: 'Reggae One', cursive;
    padding-bottom: 20px;
    font-size: 1.3rem;
    border-bottom: 15px;
}

form .cliente input .text{
    width: 65%;
    height: 25vh;
    margin: 10px;
}

.contactenos .titulo h2{
    font-family: 'Reggae One', cursive;
    background-color: #FAF3F8;
    width: 70%;
    padding-right: 25px;
    border-radius: 5px 0px;
    color:  #F2BBAE;;
    padding-left: 35px;
    text-align: center;
}

.columna-2 .cliente{
    padding-left: 25px;
}

.columna-2 .cliente p{
    font-size: 1.2rem;
    padding-left: 10px;
    margin: 25px;
}

.columna-2 .cliente p:nth-child(4){
    font: 1.5em;
    padding-left: none;
    width: 50%;
    margin: 0px;
} 

.columna-2 .cliente input[type="text" i],input[type="email" i]{
    text-align: justify;
    color: #F2BBAE;
    cursor: pointer;
    border-radius: 15px;
    width: 80%;
    margin: 10px;
    padding-left: 10px;

}

.columna-2 .cliente input[type="checkbox" i]{
     background-color: #FAF3F8;
     margin: 5px;
}

.contacto{
    margin-left: 35px;
    width: 60%;
    background-color: #F2BBAE;
    color: black;
    font-family: 'Reggae One', cursive;
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: 2px;
}

@media (max-width:1080px){
    
}

@media (max-width:768px) {
    .bloque{
        display: block;
    }
    
    .bloque .columna-2{
        height: 70vh;
    }
    .contactenos{
        height: 170vh;
    }
    
    .contacto{
        width: 35%;
        margin-left: 205px;
    }

}

@media (max-width:480px){
    main{
        height: 140vh;
    }
    
    .anchetas{
        display: block;
    }
    
    .row-anchetas .descripcion{
        margin-top: 45px;
        padding-left: 28px;
    }

    .descripcion div{
        width: 40%;
    }
}
