main .papeleria{
    width: 100%;
    margin-left: 0px;
    height: auto;
}

.papeleria{
    width: 100%;
    height: 145vh;
    display: flex;
    justify-content: center;
} 

.row-papeleria{
    height: 145vh;
}

.row-papeleria .col-prod{
    height: 142vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}

.col-prod div{
    height: 45vh;
    width: 30%;
    margin-bottom: 20px;
    background-color: #FAF3F8;
    margin: 5px;
    padding-left: 15px;
    justify-content: center;

}

.papeleria .titulo h2{
    font-family: 'Reggae One', cursive;
    background-color: #FAF3F8;
    width: 65%;
    padding-right: 25px;
    border-radius: 5px 0px;
    color:  #F2BBAE;;
    padding-left: 35px;
    text-align: center;
}

.papeleria .row-papeleria img{
    width: 80%;
    height: 30vh;
    margin: 10px;
} 

.papeleria .row-papeleria p,h3{
    height: 4vh;
    margin:4px;
    width: 85%;
    font-size: 1.4rem;
    text-align: center;
}

footer{
    margin-top: 50px;
}

@media (max-width:1080px){
    
}

@media (max-width:768px) {
    main{
        height: auto;
    }
    
    .papeleria{
        height: 140vh;
    }

    .row-papeleria .col-prod{
        padding-left: 0px;
    }

    .papeleria .row-papeleria p{
        font-size: 1.1rem;
        font-size: smaller;
    }

    .col-prod div{
        height: 40vh;
        width: 29%;
    }
}

@media (max-width:480px){

    .papeleria{
        display: block;
        height: 210vh;
    }
    
    .row-papeleria .col-prod{
        margin-top: 45px;
        padding-left: 28px;
    }

    .col-prod div{
        width: 40%;
    }
}
