main{
    width: 100%;
    margin-left: 0px;
    height: 105vh;
}

.papeleria{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
} 

.row-papeleria{
    height: 100vh;
}

.row-papeleria .col-prod{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}

.col-prod div{
    height: 45vh;
    width: 30%;
    margin-bottom: 20px;
    background-color: #FAF3F8;
    margin: 5px;
    padding-left: 15px;
    justify-content: center;

}

.papeleria .titulo h2{
    font-family: 'Reggae One', cursive;
    background-color: #FAF3F8;
    width: 60%;
    padding-right: 25px;
    border-radius: 5px 0px;
    color:  #F2BBAE;;
    padding-left: 35px;
    text-align: center;
}

.papeleria .row-papeleria img{
    width: 80%;
    height: 30vh;
    margin: 10px;
} 

.papeleria .row-papeleria p,h3{
    height: 5vh;
    margin:4px;
    width: 80%;
    font-size: 1.4rem;
    text-align: center;
}

footer{
    margin-top: 50px;
}

