main{
    width: 100%;
    margin-left: 0px;
}

.promociones{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.row-promociones{
    height: 170vh;
}

.row-promociones .descripcion-promociones{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}

.descripcion-promociones div{
    height: 40vh;
    width: 30%;
    margin-bottom: 20px;
}

.promociones .titulo h2{
    font-family: 'Reggae One', cursive;
    background-color: #FAF3F8;
    width: 20%;
    padding-right: 25px;
    border-radius: 5px 0px;
    color:  #F2BBAE;;
    padding-left: 35px;
    text-align: center;
}

.promociones .row-promociones img{
    width: 80%;
    height: 30vh;
    margin: 10px;
}

.promociones .row-promociones p{
    height: 5vh;
    margin: 4px;
    width: 80%;
    font-size: 1.3rem;
    text-align: center;
}