
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

body{
    /* padding: 10px; */
    margin: 0px;
    overflow-x: hidden;
}

.content-full{
    width: 100%;
    height: 30vh;
    
}

.content-full .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF3F8;
}

.content-full .row{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edbbf1;
}

.content-full .row ul{
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-full .row ul li{
    padding: 5px 10px;
    font-family: 'Reggae One', cursive;
    font-size: 1.5em;
    list-style: none;
}

.content-full .row ul li:hover{
    background-color: #F2BBAE;
    color: #F2BBAE;
    cursor: pointer;
}

.content-full .row ul li a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #020202;
}

.content-mobile{
    display: none;
}

/* Inicia Responsive de la seccion INICIO */
@media (max-width:1080px){
    .content-full ul li{
        font-size: 1.5em;
    }
}

@media (max-width:768px){
    .content-full .row ul li{
        font-size: 1.2rem;
    }
    
}
@media(max-width:480px){
    .content-full{
        display: none;
    }
    .content-mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center; 

    }
    
    .content-mobile .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FAF3F8;
    }
    .content-mobile .row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #edbbf1;
    }
    
    .content-mobile .row ul{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .content-mobile .row ul li{
        padding: 5px 10px;
        font-family: 'Reggae One', cursive;
        font-size: 1.3em;
        list-style: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .content-mobile .row ul li:hover{
        background-color: #F2BBAE;
        color: #F2BBAE;
        cursor:pointer;
    }
    
    .content-mobile .row ul li a{
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #020202;
    }
}

/* Seccion Productos Destacados de la Pagina Principal */
.destacados{
    width: 100%;
    height: 75vh;
}

.destacados h2{
    font-family: 'Reggae One', cursive;
    text-align: center; 
    justify-content: center;   
    align-items: center;
    
}
.col-45d{
    margin: 15px;
    background-color: #F2BBAE;
    padding-left: 15px;
    border-radius: 10px
}
.col-45d h2{
    font-family: 'Reggae One', cursive;
    background-color: #FAF3F8;
    width: 90%;
    padding-right: 25px;
    border-radius: 5px 0px;
}

.col-45d img{
    width: 45%;
    height: 25vh;
    margin: 7px;
    align-items: center;
    justify-content: center;
}

.dos-col{
    display: flex;
    margin: 20px;
    height: 70vh;
}

.marcas-aliadas{
    width: 99%;
    height: 12vh;
    /* background-color:#F2F2F2; */
    margin: 5px;
    border-radius: 10px;
    background-color:white;
}

.marcas-aliadas h2{
    font-family: 'Reggae One', cursive;
    font-size: 1.1em;
    font-weight: 150px;
    /* text-align: center; */
    padding-left: 15px;
    text-decoration:#F2BBAE;
    height: 3vh;
}

.col-25 img{
   width: 10%;
   height: 7vh;
   margin: 2.5px;
}

/* Responsive de la Seccion de Productos Destacados de la Pagina Principal */
@media (max-width:768px){
    .col-45d img{
        width: 40%;
        margin:9px
    }

    .row-destacados .col-25{
        padding-left: 30px;
    }
    .row-destacados .col-25 img{
        width: 8%;
    }
}
@media(max-width: 480px){
    .destacados{
        height: 130vh;
    }
    .dos-col{
        display: block;
    }

    .destacados h2{
        font-size: 1.3em;
    }
    
    .col-45{
        margin: 20px;
    }
    .destacados .col-45 h2{
      font-size: 1.2em;
    }
    .marcas-aliadas h2{
        text-align: center;
        font-size: 1.2em;
    }
    
    .marcas-aliadas{
        height: 25vh;
    }
    .col-25{
        width: 80%;
    }
    .col-25 img{
        width: 8%;
        margin: 2.5px;
        height: 5vh;
    }
    
    .row-destacados{
        width: 100%;
        margin-right: 10px;
        margin-left: 25px;
       
    }
}
